$family: "Inter var", "Inter", system-ui, -apple-system, BlinkMacSystemFont,
  "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
  "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

@forward "vuetify/settings" with (
  $body-font-family: $family,
  // tooltip
  $tooltip-background-color: rgba(var(--v-theme-surface-variant), 0.9),
  $tooltip-border-radius: 6px,
  $tooltip-font-size: 12px,
  $tooltip-padding: 5px 10px
);
